PORTA=3000
USUARIO_VALIDO=admin
# O código abaixo é o hash exato para a senha: 123
HASH_SENHA=a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3
API_TOKEN=chave_secreta_argos_123

MQTT_ENABLED=false
MQTT_HOST=
MQTT_PORT=8884
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_TOPIC=argos/#